/*ul*/
.designers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1em;

  list-style-type: none;
  padding: 0;
}

.designers li {
  background-color: #eee;
  padding: 1em;
}

.imageWrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}
